body {
    background-image: url("https://images.reference.com/amg-cms-reference-images/prod/what-do-the-colors-of-the-greek-flag-mean_b9a73276-8012-42e3-8e2f-dd35ac938030.jpg?width=760&height=411&fit=crop");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 190px;
}

#players {
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}